table{
    border-collapse: collapse;
    width: 60%;
    border: 2px solid black;
    border-bottom: 1px solid black;
    background-image: url(img/yandex.jpg);
    background-position: cover;
}
th{
    text-align: center;
    border-bottom: 2px solid black;
}
td{
    text-align: center;
    height: 30px;
}
.first-letter{
   font-family: "Times New Roman";
   font-size: 54px;
   color: seagreen;
   text-decoration: underline;
   float: right;
   border: 2px solid green;
   border-collapse: collapse;
}
.year{
    text-align: right;
}
.IE{
    width: 61.43%;
    background-color: orange;
}
.Firefox{
    width: 22.4%;
    background-color: red;
}
.Safari{
    width: 4.55%;
    background-color: blue;
}
.Opera{
    width: 2.37%;
    background-color: yellow;
}
a:hover{
    text-decoration: none;
    background-color: red;
}
a{
    background-color: darkblue;
}
nav {
    border: 1px solid black;
    border-collapse: collapse;
}
.image :hover{
    background-color: orange;
}
.k{
    top: 1px;
    left: 1px;
}
.f{
    top: 4px;
    left: 30px;
}
.o{
    top: 10px;
    left: 50px;
}
.t{
    top: 4px;
    left: 80px;
}
.k2{
    top: 1px;
    left: 101px;
}
.e{
    top: 4px;
    left: 121px;
}
nav div a div{
    position: absolute;
    width: 20px;
    height: 20px;
}
